
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-header">
        Update Password
    </div>
    <div class="box-body">
        @using (Html.BeginForm("UpdatePAssword","Authentication", FormMethod.Post))
        {
        <label>Password Lama:</label><input type="password" name="old_password" /><br />
        <label>Password Baru:</label><input type="password" name="new_password" /><br />
        <input class="btn btn-warning" type="submit" value="Ganti" />
        }
    </div>
</div>